# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/service/node_modules
/client/.pnp
.pnp.js

# testing
/client/coverage

# next.js
client/.next/
client/out/
client/.firebase
client/.firebaserc
client/firebase.json


# production
/client/build

# misc
.DS_Store
.env*
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# zeit now
.now*


